.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoList {
    margin: 0 auto;
    width: 50%;

    &_error {
        color: red;
        margin-top: 10px;
    }

    &_confirmButton {
        margin-top: 10px;
    }

    &_taskList {
        width: 50%;
        padding: 0;
    }
    
    &_tasks {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
}